@import "_variables";

.social_main{
	position: fixed;
	height: 50px;
	width: 100%;
	background-color: $color_frame;

	.social_tech{
		position: relative;
		border: 2px solid white;

		li#facebook{
			border: 2px solid red;
		}
	}
}
